Source: freepops
Section: mail
Priority: optional
Maintainer: Enrico Tassi <gareuselesinge@users.sourceforge.net>
Build-Depends: debhelper (>= 4.1.16), libexpat1-dev, libcurl3-dev, flex, bison, po-debconf
Build-Depends-Indep: tetex-extra, gs-common
Standards-Version: 3.6.2

Package: freepops
Architecture: any
Depends: ${shlibs:Depends}, debconf | debconf-2.0 , lsb-base (>= 3.0-6)
Description: POP3 interface to several webmails
 freepopsd is a POP3 daemon that translates local POP3 commands
 to remote HTTP requests to the supported webmail sites.
 .
 freepopsd can also be used as RSS aggregator and POP3 forwarder.

Package: freepops-doc
Section: doc
Architecture: all
Depends: 
Description: freepops user/developer manual
 freepopsd is a POP3 daemon that translates local POP3 commands
 to remote HTTP requests to the supported webmail sites.
 .
 freepopsd can also be used as RSS aggregator and POP3 forwarder.
 .
 This is the manual in PDF format for freepops.
 
