[Desktop Entry]
Encoding=UTF-8
Name=FreePOPs
Comment=Extensible POP3 server
Exec=freepopsd -v
Icon=freepops-32.xpm
Terminal=false
Type=Application
Categories=Application;Network;
