<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN
http://www.apple.com/DTDs/PropertyList-1.0.dtd >
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>freepopsd</string>
    <key>Program</key>
    <string>/Applications/FreePOPs/freepopsd</string>
    <key>ProgramArguments</key>
    <array>
         <string>-b 127.0.0.1</string>
    </array>
    <key>OnDemand</key>
    <false/>
    <key>WorkingDirectory</key>
    <string>/Applications/FreePOPs/</string>
</dict>
</plist>
