Source: freepops
Section: mail
Priority: optional
Maintainer: Enrico Tassi <gareuselesinge@users.sourceforge.net>
Build-Depends: debhelper (>= 4.0.2), libexpat1-dev, libcurl2-dev | libcurl-ssl-dev, tetex-extra, flex, bison, libreadline-dev, gs-common, libssl-dev
Standards-Version: 3.5.6.1

Package: freepops
Architecture: any
Depends: ${shlibs:Depends}, debconf
Description: POP3 interface to webmails
 freepopsd is a daemon that acts as a local POP3 server, translating
 local pop3 command to remote http requests to the supported
 webmail sites.

Package: freepops-doc
Architecture: all
Depends: 
Description: FreePOPs user/developer manual
 This is the manual in pdf format for FreePOPs.
 
