Source: freepops
Section: mail
Priority: optional
Maintainer: Enrico Tassi <gareuselesinge@users.sourceforge.net>
Build-Depends: debhelper (>= 4.0.0), libexpat1-dev, libcurl-ssl-dev | libcurl2-dev | libcurl-dev | libcurl3-dev, latex2html
Standards-Version: 3.6.1.0

Package: freepops
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: pop3 interface to webmails
 freepopsd is a daemon that acts as a local pop3 server, translating
 local pop3 command to remote http requests to the supported
 webmail sites.

Package: freepops-doc
Architecture: all
Depends: 
Description: FreePOPs user/developer manual
 This is the manual in pdf format for FreePOPs.
 
