#!/bin/sh

set -e

# Source debconf library.
. /usr/share/debconf/confmodule
db_capb backup

STATE=1

while true; do
	case $STATE in
		1)
			db_input medium freepops/init || true
		;;
		2)
			db_input medium freepops/jail || true
		;;
		*)
			break
		;;
	esac
	if db_go; then
		STATE=`expr $STATE + 1`
	else
		STATE=`expr $STATE - 1`
	fi
done

exit 0
