[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Terminal=false
Name=FreePOPs updater
GenericName=
Comment=Download updated version of FreePOPs plugins
Icon=/usr/share/pixmaps/freepops-updater-zenity.svg
TryExec=su-to-root -X -c freepops-updater-zenity
Exec=su-to-root -X -c freepops-updater-zenity
Categories=GNOME;Application;System;
